@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background-color: #2d112b;
}

.parallax {
  perspective: 100px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    display: block;
    position: absolute;
    bottom: 0;
  }
}

.parallax__layer__text {
  transform: translateZ(-400px) scale(5);
}

/* HEADER BUTTONS */

.underlineAfterHover {
  display: inline-block;
  position: relative;
}

.underlineAfterHover:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
  transform: scaleX(1);
}

.underlineAfterHover:hover:after {
  background-color: currentcolor;
  transform: scaleX(0);
  transform-origin: bottom left;
}

/* LOADER */

.ctaLoader {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}
.ctaLoader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 3px solid currentcolor;
  border-radius: 50%;
  animation: ctaLoader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentcolor transparent transparent transparent;
}

.ctaLoader.big {
  width: 40px;
  height: 40px;
}
.ctaLoader.big div {
  width: 40px;
  height: 40px;
}

.ctaLoader div:nth-child(1) {
  animation-delay: -0.45s;
}
.ctaLoader div:nth-child(2) {
  animation-delay: -0.3s;
}
.ctaLoader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ctaLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
